* {
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header-image {
    height: 140px;
}

#header {
    height: 140px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 36);
    z-index: 5;
}

nav > ul {
    color: whitesmoke;
    width: 35vw;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.desc {
    max-width: 1000px;
    width: 100%;
}

.desc > h1 {
    margin-top: 20px;
    font-size: 2rem;
}

.head {
    position: relative;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(138, 66, 15);
    color: rgb(28, 28, 36);
}

#form {
    margin-top: 20px;
}

#submit {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(28, 28, 36);
    color: whitesmoke;
}

#features {
    margin-top: 150px;
    display: flex;
    color: whitesmoke;
    flex-direction: row;
    justify-content: center;
}

.wood {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 400px;
    margin: 20px 20px;
    background-color: rgb(28, 28, 36);
    text-align: center;
    border-radius: 50px;
}

.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 400px;
    margin: 20px 20px;
    background-color: rgb(28, 28, 36);
    text-align: center;
    border-radius: 50px;
}

.ship {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px 20px;
    width: 400px;
    background-color: rgb(28, 28, 36);
    text-align: center;
    border-radius: 50px;
}

.icons {
    text-align: center;
    background-color: rgb(138, 66, 15);
    padding: 5px;
    width: 150px;
    border-radius: 60px;
}

p {
   font-size: 0.9rem;
}

#demonstration {
    text-align: center;
}

#models {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#boxes {
    margin-top: 50px;
    padding: 15px;
    background-color: rgb(28, 28, 36);
    color: whitesmoke;
    width: 350px;
    height: 250px;
    text-align: center;
}

#choose {
    padding: 10px;
    margin-top: 20px;
}

.copy {
    display: flex;
    background-color: rgb(138, 66, 15);
    justify-content: flex-end;
}

ul {
    list-style: none;
}
#at {
    text-align: end;
    padding: 5px;
    font-size: 0.8rem;
}

.list {
    color: black;
}

@media screen and (max-width: 600px) {
    #boxes {
        flex-wrap: wrap;
    }

    #choose {
        width: 60px;
        height: 30px;
        font-size: 0.5rem;
    }
}

a {
    color: black;
}
    